{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
{% if user.is_staff%}

    <h1>Analytics Tab</h1>
    <h3>Ordered Products count : {{ total_jeans_count }}</h3>
    <h3>Total Orders count : {{ qs_orders.count }}</h3>
    <h3>Total Money recieved from all orders {{ total_money_from_orders }}</h3>
    <h3>Unique Users : {{ count_users }}</h3>

    <!-- <h1>{{ date_labels_list }}</h1> -->

    <form action="{% url 'analytics' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Number Of days you want order data for</label>
          <input type="text" name='days' class="form-control" id="days" aria-describedby="emailHelp" placeholder="Enter Days">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    <h3>Last {{ days }} days number of orders recieved : {{ number_of_orders }}</h3>
    <h3>Last {{ days }} days total money recieved from orders :{{ custom_order_total }}</h3>
    <h1>Cities Data</h1>

    {% for i,j in city_orders_track_dict.items %}
     
      <h5>{{ i }} : {{ j }}</h5>
    {% endfor %}


    <div>
      <canvas id="myChart"></canvas>
    </div>

<script>

    var days = "{{ days }}"

    var labels_in_js = "{{ date_labels_list|safe }}"
    const labels = labels_in_js.split(',')
    labels[0] = labels[0].replace('[', ' ')
    labels[labels.length - 1] = labels[labels.length - 1].replace(']', ' ')

    var data_obtained = "{{ per_order_total_for_last_n_days|safe }}"
    var data_final = data_obtained.split(",")
    data_final[0] = data_final[0].replace('[', ' ')
    data_final[data_final.length - 1] = data_final[data_final.length - 1].replace(']', ' ')

    console.log(labels_in_js)
    console.log(data_final)

    const data = {
      labels: labels,
      datasets: [{
        label: 'Sales data',
        backgroundColor: 'rgb(33, 33, 132)',
        borderColor: 'rgb(33, 33, 132)',
        data: data_final,
      }]
    };
  
    const config = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        plugins: {
            
            title: {
                display: true,
                text: 'Sales data per order over last days'
            }
        }
    }
    };
      const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>

  
</div> <!-- container .//  -->
</section>

{% else %}

    <h1>Not Admin</h1>

{% endif %}

{% endblock %}